
*{ /*注意*/
    margin:0;
    padding:0;
	}	
/* index frame---------------------------------------------*/
html,body{
	height:100%;
}

/*--- line frame ---*/
div.fix{
	width:100%;
	height:0px;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
div.fix div.line-frame  span{
	position:absolute;
	background:#ffd800;
	font-size:0;
}
div.line-frame span:nth-child(1),
div.line-frame span:nth-child(3){
	width:100vw;
	height:9px;
} 
div.line-frame span:nth-child(2),
div.line-frame span:nth-child(4){
	width:9px;
	height:100vh;
} 
div.line-frame span:nth-child(1){
	top:0;
	left:0;
} 
div.line-frame span:nth-child(2){
	top:0;
	left:0;
} 
div.line-frame span:nth-child(3){
	position:absolute;
	top:100vh;
	margin-top:-9px;
	left:0;
} 
div.line-frame span:nth-child(4){
	top:0;
	right:0;
} 
div.fix div.copyright{
	width:13px;
	position:absolute;
	top:50vh;
	left:40px;
	margin:-100px 0 0 0;
}
div.fix div.btn-fixed{
	
	width:50px;
	position:absolute;
	top:50vh;
	right:42px;
	display: block;
	margin:-80px 0 0 0;
	height100px;
}

div.fix div.btn-fixed img{
	height:45px;
	width: 45px;
}
div.fix div.btn-fixed a{
	display:block;
	position:relative;
	margin: 18%;
}
#section1 {
	margin-bottom:-4px;
}
#section3 {
	margin-top:-5px;
}



/*
div.fix div.btn-fixed a:nth-child(2){
	display:block;
	margin:6px 0;
}
div.fix div.btn-fixed a:before{
	content:"";
	position:absolute;
	display:block;
	width:160px;
	height:96px;
	z-index:-1;
	right:0;
	display:none;
	bottom:0;
	background-repeat:no-repeat;
	background-size:110px;
}
div.fix div.btn-fixed a:hover:before{
	display:block;
}
div.fix div.btn-fixed a:nth-child(1):before{
	background-image:url(/images/common/onmouse/01.svg);
}
div.fix div.btn-fixed a:nth-child(2):before{
	background-image:url(/images/common/onmouse/02.svg);
}
div.fix div.btn-fixed a:nth-child(3):before{
	background-image:url(/images/common/onmouse/03.svg);
}
*/
/*
div#pop{
	position:fixed;
	display:block;
	bottom:0;
	left:2.5vw;
	transition:all .4s;
}
div#pop,
div#pop img{
	width:95vw;
}
div#pop.off{
	bottom:-30vw;
}
*/


/*
a img {
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 20px 10px 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}

ul {
	margin-bottom: 24px;
	padding-left: 30px;
}
*/
